@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #9FB4C7;    
}

* {   
    color: rgb(40, 40, 116);   
    font-family: 'Roboto', sans-serif; 
    font-size: 16px 
}

section {
    margin-top: 10px
}

header {    
    background-color: #8898a7;
    width: 100%;
    height: 80px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    padding: 0;
}

.post-card {    
    border-radius: 16px;    
    background-color: #EEEEFF;
    padding: 5px;
    margin: 12px;
    transition: 0.2s;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.post-card__content {
    text-align: justify;
    padding: 0 16px;
    font-size: 13.5px;
}

.about-wrapper {
    display: flex;   
    background-color: #EEEEFF;
    padding: 16px;
    border-radius: 16px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.about-image {
    border-radius: 16px;
}

.about-text {
    display: flex;
    padding: 0;    
    text-align: justify;
    font-size: 13.5px;
    margin: 0 16px;
    align-items: center;
}

.post-href {
    text-decoration: none;
    color: black;
}

.post-comment {
    font-size: 12.5px;
    text-align: center;
    margin-left: 16px;
}

.post-tag-wrapper {
    display: flex;
    justify-content: center;
}

.post-tag {
    background-color: #d1d9e0; 
    min-width: 50px;
    padding: 2px 1px;    
}

.form-wrapper {
    display: flex;
    justify-content: center;   
}

.form {    
    background-color: #EEEEFF;
    width: 300px;
    padding: 16px;
    border-radius: 8px;  
    max-width: 189px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12) 
}

.label-input-wrapper {
    display: flex;
    max-width: 200px;
    flex-wrap: wrap;
}

.buttons {
    margin-top: 10px
}

.tag-btn {
    min-width: 50px;
    border: none;
    padding: 8px 6px;
    margin: 4px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: 0.2s; 
    font-size: 12px;   
    background-color: #EEEEFF;    
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.tag-btn:hover {
    background-color: #d1d9e0
}

.tags-wrapper {
    margin-bottom: 10px
}

.search-input {
    padding-bottom: 4px
}

.Link {     
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px
}

.Link:hover {
    opacity: 50%;    
}

.add-comment-btn {
    font-size: 13px;
    border-radius: 4px;
    padding: 3px 2px;
    border: 1px solid rgba(95, 94, 94, 0.596);
    margin-left: 5px;
}

.login-label {
    font-size: 12px;    
    padding-bottom: 4px;
    margin-left: 4px
}

.margin-bottom-12 {
    margin-bottom: 12px
}

.cursor-pointer {
    cursor: pointer
}